<div class="modal-body calendar-ui-builder change-timestamp" style="height=400px">

  <form class="form-horizontal">
    <div class="input-group">
      <label class="input-group-label">Title</label>
      {{input type="text" value=title}}
    </div>
    <div class="input-group">
      {{input type='checkbox' checked=allDay}}
      {{i18n "calendar.ui_builder.all_day"}}
    </div>
    <div class="input-group">
      <label class="input-group-label">Start Date Time</label>
      {{date-picker value=startDate containerId="schedule-start-date-container"}}
      {{input type="time" value=startTime}}
      {{input-tip validation=startDateFormatValidation}}
    </div>
    <div class="input-group">
      <label class="input-group-label">To Date Time</label>
      {{date-picker value=endDate containerId="schedule-end-date-container"}}
      {{input type="time" value=endTime}}
    </div>
  </form>
  <div id="schedule-from-date-container" cladd="pull-left"/>
  <div id="schedule-to-date-container" class="pull-right"/>

</div>

<div class="modal-footer">
  {{d-button action="insertSchedule" icon="calendar" class='btn-primary' label='calendar.ui_builder.insert' disabled=disableInsert}}
</div>
