<div id="calendar-modal" class="modal-body schedule-ui-builder" style="height: 370px;">
  <label class="input-group-label">
    {{i18n "calendar.schedule.ui_builder.input_title"}}
  </label>
  {{input type="text" class="modal-title" value=title maxlength=256}}
  {{input type='checkbox' checked=allDay}}
  {{i18n "calendar.schedule.ui_builder.all_day"}}
  <div class="start-card">	    
    <label class="input-group-label">
      {{i18n "calendar.schedule.ui_builder.input_start_date_time"}}
    </label>
    {{date-picker value=startDate containerId="date-container-start"}}
    {{input type="time" class="modal-time" value=startTime disabled=isAllDaySchedule}}
    {{input-tip validation=startDateTimeValidation}}
    <div id="date-container-start"/>
  </div>
  <div class="end-card">
    <label class="input-group-label">
      {{i18n "calendar.schedule.ui_builder.input_end_date_time"}}
    </label>
    {{date-picker value=endDate containerId="date-container-end"}}
    {{input type="time" class="modal-time" value=endTime disabled=isAllDaySchedule}}
    {{input-tip validation=scheduleDateTimeValidation}}
    <div id="date-container-end"/>
  </div>
</div>

<div class="modal-footer">
  {{d-button action="insertSchedule" icon="calendar" class='btn-primary' label='calendar.schedule.ui_builder.insert' disabled=disableInsert}}
</div>
